Categories=Player;
Type=Application
Comment=Amarok - Rediscover Your Music!
Class=dolphin
Version=1.0
MimeType=audio/aac;audio/mp4;audio/mpeg;audio/mpegurl;audio/vnd.rn-realaudio;audio/vorbis;audio/x-flac;audio/x-mp3;audio/x-mpegurl;audio/x-ms-wma;audio/x-musepack;audio/x-oggflac;audio/x-pn-realaudio;audio/x-scpls;audio/x-speex;audio/x-vorbis;audio/x-wav;application/x-ogm-audio;audio/x-vorbis+ogg;audio/ogg;
GenericName=Audio Player
Terminal=false
Exec=amarok %U
Icon=/home/lepagee/.config/awesome/blind/arrow/Icon//amarok.png
Name=Amarok
