[Desktop Entry]
Name=Mozilla Firefox
Comment=Web Borwser
Exec=/usr/bin/firefox %U
Icon=AWECFG/firefox.png
Terminal=false
Type=Application
Categories=Network
MimeType=x-scheme-handler/http;x-scheme-handler/https;
