HasTempFileOption=true
Class=kate
orig=kate
StartupNotify=true
GenericName=Advanced Text Editor
Icon=kate
Type=Application
DocPath=kate/index.html
ServiceName=org.kde.kate
InitialPreference=9
StartupType=Multi
Name=Kate
Categories=Development;
Exec=kate -b %U
MimeType=text/plain;
Terminal=false
