GenericName=Scientific Calculator
StartupNotify=true
Type=Application
Terminal=false
Name=KCalc
DocPath=kcalc/index.html
Icon=/home/lepagee/.config/awesome/blind/arrow/Icon//calc.png
Categories=Tools;
Exec=kcalc -caption "%c"
Class=kcalc
