Categories=Tools;
Type=Application
DocPath=fundamentals/index.html#colors
Class=kcolorchooser
StartupType=Multi
Name=KColorChooser
GenericName=Color Chooser
Terminal=false
Icon=/home/elv13/.config/awesome/blind/arrow/Icon//picker.png
Exec=kcolorchooser
