# KDE Config File
[Desktop Entry]
Type=Application
Exec=kmag -caption "%c" %i
Icon=AWECFG/mag.png
X-DocPath=kmag/index.html
Terminal=false
Name=KMag
GenericName=Screen Magnifier
Categories=Tools
