GenericName=Screen Magnifier
Type=Application
Terminal=false
Name=KMag
DocPath=kmag/index.html
Icon=/home/elv13/.config/awesome/blind/arrow/Icon//mag.png
Categories=Tools;
Exec=kmag -caption "%c" %i
Class=kmag
