[Desktop Entry]
Name=Mozilla Thunderbird
Comment=Mail & News Reader
Exec=/usr/bin/thunderbird %U
Icon=AWECFG/thunderbird.png
Terminal=false
Type=Application
Categories=Network
MimeType=text/calendar;x-scheme-handler/mailto;
