Categories=Network;
Type=Application
Comment=Download and share files over BitTorrent
Class=dolphin
Terminal=false
GenericName=BitTorrent Client
MimeType=application/x-bittorrent;x-scheme-handler/magnet;
Name=Transmission Bittorrent Client
Exec=transmission-qt %F
Icon=/home/elv13/.config/awesome/blind/arrow/Icon//transmission.png
Keywords=torrent
