[Desktop Entry]
Name=rxvt-unicode
Type=Application
Comment=rxvt clone with xft and unicode support
Exec=urxvtc
TryExec=urxvt
Icon=AWECFG/term.png
Categories=Tools
