TryExec=urxvt
Class=urxvt
Icon=/home/elv13/.config/awesome/blind/arrow/Icon//term.png
Categories=Tools;
Type=Application
Comment=rxvt clone with xft and unicode support
Name=rxvt-unicode
Exec=urxvtc
