[Desktop Entry]
Name=Virtual Machine Manager
Comment=Manage virtual machines
Icon=AWECFG/windows.png
Exec=virt-manager
Type=Application
Terminal=false
Categories=System;
