*~
serialized.lua
../theme/ubuntu/Icon/titlebar/.directory
.kateproject
.kateproject.d
.directory
tyrannical/example.rc.lua
blind/README.md
radical/README.md
radical/impl/taglist/README.md
radical/impl/tasklist/README.md
repetitive/README.md
retrograde/README.md
tyrannical/README.md
retrograde/screenshot.png
radical/screenshot/
tyrannical/utils/
